---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Math.">
	<main class="main">
		<h1>Math APP</h1>
	</main>
</Layout>

<style>
	.main {
		width: 100dvw;
		height: 100%;
		display: grid;
		place-items: center;
	}
</style>
